<% @lists.each do |list| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"><%= link_to list.title, list_url(list) %></h2>
  </div>
<% end %>

<div class="links">
  <%= link_to "Create New List", new_list_url %>
</div>
