<%= render 'flashes' %>
<h2 class="todo_list_title"><%= @list.title %></h2>
<div id="tasks_wrapper">
  <div class="tasks-container">
    <%= render @list.tasks %>
  </div>
  <div id="form">
    <%= render 'tasks/form' %>
  </div>
</div>
<div class="links">
  <%= link_to 'Edit', edit_list_url(@list) %> |
  <%= link_to 'Delete', list_path(@list), method: :delete, data: { confirm: t(:confirm_delete) } %> |
  <%= link_to 'Back', lists_url %>
</div>
<%= content_for :footer do %>
  <%= javascript_include_tag "tasks/index" %>
<% end %>
