<%= form_for [@list, @list.tasks.build], { url: list_tasks_url(@list), remote: true, method: :post, data: { class: 'tasks-form' } } do |f| %>
	<%= f.text_field :description, placeholder: "New Task", class: 'task-description' %>
	<%= f.submit %>
<% end %>
