<div class="row clearfix" data-task="true">
  <div class="complete">
    <%= link_to 'javascript:void(0)', data: { class: 'mark-completed-btn', id: task.id, url: complete_list_task_url(@list, task), method: :patch } do %>
      <i class="40-perc-opactity fa fa-check"></i>
    <% end %>
  </div>
  <div class="task">
    <% if task.completed? %>
      <p class="40-perc-opactity task-description strike-through"><%= task.description %></p>
    <% else %>
      <p class="task-description"><%= task.description %></p>
    <% end %>
  </div>
  <div class="trash">
    <%= link_to 'javascript:void(0)', data: { confirm_message: t(:confirm_delete), class: 'trash-btn', id: task.id, url: list_task_url(@list, task), method: :delete } do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </div>
</div>
