/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background: -moz-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background: -ms-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background: -o-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background: linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

#notice {
  text-align: center;
  font-size: 0.6em;
  color: #1F7972;
  font-weight: 100;
}

.container {
  width: 50%;
  max-width: 750px;
  background: rgba(250, 250, 250, 0.3);
  margin: 3em auto 0 auto;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.03);
  padding: 1em 0;
}

.todo_list_title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  margin: 0;
}
.todo_list_title a {
  text-decoration: none;
  color: white;
  transition: all .4s ease-in-out;
}
.todo_list_title a:hover {
  opacity: 0.4;
}

/*.todo_list_sub_title {
  margin: 0 0 3em 0;
  text-align: center;
  font-size: 0.9em;
  color: #1F7972;
  font-weight: 100;
}*/

.index_row {
  padding: 2em;
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}
.index_row .todo_list_sub_title {
  margin-bottom: 0;
}

#tasks_wrapper .row {
  width: 100%;
  border-top: 1px solid rgba(250, 250, 250, 0.3);
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}
#tasks_wrapper .row .complete {
  width: 10%;
  float: left;
  text-align: center;
  border-right: 1px solid rgba(250, 250, 250, 0.3);
  padding: 1em 0;
}
#tasks_wrapper .row .task {
  width: 80%;
  float: left;
}
#tasks_wrapper .row .task p {
  margin: 0;
  padding: 1em;
  color: #1F7972;
  font-weight: 100;
}
#tasks_wrapper .row .trash {
  width: 10%;
  float: left;
  text-align: center;
  border-left: 1px solid rgba(250, 250, 250, 0.3);
  padding: 1em 0;
}
#tasks_wrapper .row i {
  color: white;
  transition: all .4s ease-in-out;
}
#tasks_wrapper .row i:hover {
  color: #1F7972;
}
#tasks_wrapper #form {
  margin-top: 2em;
  padding: 0 5%;
}
#tasks_wrapper #form input[type="text"] {
  width: 72%;
  margin-right: 2%;
  display: inline-block;
  outline: none;
  background: rgba(250, 250, 250, 0.4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}
#tasks_wrapper #form input[type="submit"] {
  background: rgba(250, 250, 250, 0.4);
  outline: none;
  border: none;
  height: 40px;
  border-radius: 4px;
  width: 25%;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
}
#tasks_wrapper #form input[type="submit"]:hover {
  background: #1F7972;
}
#tasks_wrapper #form ::-webkit-input-placeholder {
  color: #1F7972;
}

.links {
  display: block;
  margin: 1.5em auto 0 auto;
  text-align: center;
  font-size: 0.8em;
  color: white;
}
.links a {
  color: white;
}

.forms {
  padding: 0 5%;
}

.40-perc-opactity {
  opacity: 0.4;
}

.strike-through {
  text-decoration: line-through;
}

label {
  color: #1F7972;
}

input[type="text"], textarea {
  width: 100%;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250, 250, 250, 0.4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  background: white;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 4px;
  width: 25%;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  color: #1F7972;
}
input[type="submit"]:hover {
  background: #1F7972;
  color: white;
}

::-webkit-input-placeholder {
  color: #1F7972;
}
