<div class="message">
  <p id="notice">
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>

    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </p>
</div>
