<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= yield :head %>
</head>
<body class='<%= controller.controller_name %>'>
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "To Do List", root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to 'Help', '' %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.present? %>
              <li><%= link_to "Sign Out", logout_path %></li>
            <% else %>
              <li><%= link_to "Sign in with Gmail Id", google_oauth_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <%= yield :footer %>
</body>
</html>
